<app-title [title]="pageTitle"></app-title>
<form [formGroup]="registerForm">
  <div class="row">
    <div class="col-md-8">
      <tabset>
        <tab heading="Evento">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Tema</label>
              <input type="text" class="form-control" [(ngModel)]="event.topic" formControlName="topic" placeholder="Insira o Tema"
                     [ngClass]="{'is-invalid': registerForm.get('topic').errors && registerForm.get('topic').touched}" />

              <div *ngIf="registerForm.get('topic').hasError('required') && registerForm.get('topic').touched" class="invalid-feedback">
                Tema é obrigatório.
              </div>
              <div *ngIf="registerForm.get('topic').hasError('minlength') && registerForm.get('topic').touched" class="invalid-feedback">
                Tema deve ter no mínimo 4 caracteres.
              </div>
              <div *ngIf="registerForm.get('topic').hasError('maxlength') && registerForm.get('topic').touched" class="invalid-feedback">
                Tema deve ter no máximo 50 caracteres.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Local</label>
              <input type="text" class="form-control" [(ngModel)]="event.city" formControlName="city" placeholder=""
                     [ngClass]="{'is-invalid': registerForm.get('city').errors && registerForm.get('city').touched}" />

              <div *ngIf="registerForm.get('city').hasError('required') && registerForm.get('city').touched" class="invalid-feedback">
                Local é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data e Hora</label>
              <input type="text" class="form-control" [(ngModel)]="event.date" bsDatepicker formControlName="date" placeholder=""
                     value="{{date | dateTimeFormat}}" [(ngModel)]="date"
                     [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY hh:mm' }"
                     [ngClass]="{'is-invalid': registerForm.get('date').errors && registerForm.get('date').touched}" />

              <div *ngIf="registerForm.get('date').hasError('required') && registerForm.get('date').touched" class="invalid-feedback">
                Data e hora é obrigatório.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label>Qtd Pessoas</label>
              <input type="text" class="form-control is-invalid" formControlName="subscribers" placeholder="" [(ngModel)]="event.subscribers"
                     [ngClass]="{'is-invalid': registerForm.get('subscribers').errors && registerForm.get('subscribers').touched}" />

              <div *ngIf="registerForm.get('subscribers').hasError('required') && registerForm.get('subscribers').touched" class="invalid-feedback">
                Qtd Pessoas é obrigatório.
              </div>
              <div *ngIf="registerForm.get('subscribers').hasError('max') && registerForm.get('subscribers').touched" class="invalid-feedback">
                Qtd Pessoas deve ser no máximo 1000.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Telefone</label>
              <input type="text" mask="(00) 0000-0000" class="form-control" formControlName="phone" placeholder="(00) 00000-0000" [(ngModel)]="event.phone"
                     [ngClass]="{'is-invalid': registerForm.get('phone').errors && registerForm.get('phone').touched}" />

              <div *ngIf="registerForm.get('phone').hasError('required') && registerForm.get('phone').touched" class="invalid-feedback">
                Telefone é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Email</label>
              <input type="text" class="form-control" [(ngModel)]="event.email" formControlName="email" placeholder="e-mail"
                     [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}" />

              <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched" class="invalid-feedback">
                E-mail é obrigatório.
              </div>
              <div *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched" class="invalid-feedback">
                Deve ser um e-mail válido.
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Lotes">
          <div>
            <div formArrayName="groups" *ngFor="let group of groups.controls; let i=index">
              <fieldset [formGroupName]="i" class="form-group">
                <legend class="d-flex justify-content-between capitalize">
                  {{ groups.get(i + '.name').value === "" ? 'Lotes' : groups.get(i + '.name').value }}
                  <button class="btn btn-outline-warning mb-1" (click)="removeGroup(i)">
                    Remover
                  </button>
                </legend>
                <div class="row">
                  <div class="form-group col-md-4">
                    <label>Nome</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Nome do lote"
                           [ngClass]="{ 'is-invalid': groups.get(i + '.name').errors && groups.get(i + '.name').touched }" />
                  </div>
                  <div class="form-group col-md-4">
                    <label>Quantidade</label>
                    <input type="text" class="form-control" formControlName="quantity" placeholder="000"
                           [ngClass]="{ 'is-invalid': groups.get(i + '.quantity').errors && groups.get(i + '.quantity').touched }">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Preço</label>
                    <input type="text" currencyMask class="form-control" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                           formControlName="price" placeholder="R$ 0,00"
                           [ngClass]="{ 'is-invalid': groups.get(i + '.price').errors && groups.get(i + '.price').touched }">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Data Início</label>
                    <input type="text" class="form-control" formControlName="initialDate" placeholder="DD/MM/YYYY" />
                  </div>
                  <div class="form-group col-md-4">
                    <label>Data Fim</label>
                    <input type="text" class="form-control" formControlName="endDate" placeholder="DD/MM/YYYY" />
                  </div>
                </div>
              </fieldset>
            </div>
            <button class="btn btn-outline-primary" (click)="addGroup()">
              Adicionar lote
            </button>
          </div>
        </tab>
        <tab heading="Redes Sociais">
          <div formArrayName="socialMedias" *ngFor="let socialMedia of socialMedias.controls; let i=index">
            <fieldset [formGroupName]="i" class="form-group">
              <legend class="d-flex justify-content-between capitalize">
                {{ socialMedias.get(i + '.name').value?.replace('fab fa-', '') === "" ? 'Redes Sociais' : socialMedias.get(i + '.name').value?.replace('fab fa-', '') }}
                <button class="btn btn-outline-warning mb-1" (click)="removeSocialMedia(i)">
                  Remover
                </button>
              </legend>
              <div class="row">
                <div class="form-group col-md-4">
                  <label>Nome</label>
                  <select class="form-control" formControlName="name"
                          [ngClass]="{ 'is-invalid': socialMedias.get(i + '.name').errors && socialMedias.get(i + '.name').touched }">
                    <option value="">Selecione</option>
                    <option value="fab fa-youtube">Youtube</option>
                    <option value="fab fa-instagram">Instagram</option>
                    <option value="fab fa-facebook">Facebook</option>
                    <option value="fab fa-twitter">Twitter</option>
                    <option value="fab fa-google">Google</option>
                    <option value="fab fa-linkedin">Linkedin</option>
                    <option value="fab fa-pinterest">Pinterest</option>
                    <option value="fab fa-whatsapp">Whatsapp</option>
                    <option value="fab fa-telegram">Telegram</option>
                    <option value="fab fa-skype">Skype</option>
                    <option value="fab fa-vimeo">Vimeo</option>
                  </select>
                </div>
                <div class="form-group col-md-8">
                  <label>Link</label>
                  <input type="text" formControlName="url" class="form-control" placeholder="URL"
                         [ngClass]="{ 'is-invalid': socialMedias.get(i + '.url').errors && socialMedias.get(i + '.url').touched }">
                </div>
              </div>
            </fieldset>
          </div>
          <button class="btn btn-outline-primary" (click)="addSocialMedia()">
            Adicionar rede social
          </button>
        </tab>
      </tabset>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
          <!-- {{registerForm.value | json}} -->
          <button [disabled]="!registerForm.valid" class="btn btn-success my-2" (click)="saveEvent()">
            Salvar
            Alterações
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-row">
        <div class="form-group col-md-9">
          <input type="file" #file (change)="onFileChange($event.target.files)" class="form-control is-invalid" formControlName="imageFile" placeholder="" style="display: none">
        </div>
      </div>
      <div class="card profile-card-2">
        <div class="card-img-block">
          <img [src]="imageFile" class="img-fluid" (click)="file.click()" style="cursor: pointer; width: 350px;" alt="Card image cap" />
        </div>
        <div class="card-body pt-3">
          <h4>{{event.topic}}</h4>
          <p class="card-text">
            <b>Local:</b> {{event.city}}
            <br>
            <b>Data:</b> {{event.date | dateTimeFormat}}
          </p>
          <hr>
          <p class="card-text">
            <b>Contatos</b><br>
                           <small class="text-muted">Telefone: {{event.phone | mask: '(00) 0000-0000'}}</small>
            <br>
            <small class="text-muted">E-mail: {{event.email}}</small>
          </p>
          <p class="card-text">
            Capacidade:
            <small class="text-muted">{{event.subscribers}}</small>
          </p>
          <div class="row">
            <div class="icon-block col-md-8 iconesSociais">
              <a class="mr-3" href="{{ socialMedias.get(i + '.url').value }}"
                 *ngFor="let socialMedia of socialMedias.controls; let i=index">
                  <i class="{{ socialMedias.get(i + '.name').value }}"></i>
              </a>
            </div>
            <!--div class="col-md-4 d-flex justify-content-center">
              <a href="#" class="btn btn-outline-primary">Participar</a>
            </div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
